@charset "UTF-8";
@import "./normalize";
@import "./container";
@import "./main";
@import "./section";
@import "./header";
@import "./footer";
@import "./buttons";
@import "./fonts";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

